<!DOCTYPE HTML>
<html lang=zh-CN>

<head>
    <title></title>
    <meta charset=utf-8>
<style>
    ul{
        margin: 0;
        padding: 0;
        font-size: 16px;
        width:120px;
    }
    ul li{
        margin: 2px;
        padding: 6px;
        list-style-type: none;
        cursor: pointer;
        border-radius: 5%;
    }
    ul li:hover{
        background-color: #008050;
    }
</style>
</head>

<body>
    <ul class="q-list">
        <li data-url="../../template/json/index.html">json</li>
        <li data-url="../../template/convert/index.html">字符串编解码</li>
    </ul>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/popup.js"></script>
</body>

</html>