<!DOCTYPE HTML>
<html lang=zh-CN>

<head>
    <title>uglify</title>
    <meta charset=UTF-8>
    <link rel=stylesheet href="../../static/css/semantic.min.css">
    <script src="uglifyjs.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <h1 class="ui center aligned header"></h1>
    <h1 class="ui center aligned header">uglify</h1>
    <div class="ui container">
        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui segment">
                    <div class="ui form">
                        <div class="field">
                            <label></label>
                            <textarea id="codeSource" rows="40" placeholder="在这里粘贴需要进行混淆的代码"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- <a class="ui black pointing below ignored label okmemo-tmp-unselect">执行代码</a> -->
                <div class="ui segment">
                    <div class="ui form">
                        <div class="field">
                            <label></label>
                            <textarea id="codeDist" rows="40"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>