<!DOCTYPE HTML>
<html lang=zh-CN>

<head>
    <title>代码美化</title>
    <meta charset=UTF-8>
    <link rel=stylesheet href="../../static/css/semantic.min.css">
    <link rel=stylesheet href="css/syntaxhighlighter.css">
    <script src="../../static/js/jquery.js"></script>
    <script src="js/beautify.js"></script>
</head>

<body>
    <h1 class="ui center aligned header"></h1>
    <h1 class="ui center aligned header">代码美化</h1>
    <h4 class="ui center aligned header">源自：<a href="https://www.baidufe.com/fehelper/codebeautify.html" target="_blank">https://www.baidufe.com/fehelper/codebeautify.html</a></h4>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui form">
                    <div class="field">
                        <label>Text</label>
                        <textarea id="codeSource" placeholder="在这里粘贴需要进行美化的代码"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui buttons">
                    <button id="codeTypeJs" class="ui button">JS代码美化</button>
                    <button id="codeTypeCss" class="ui button">CSS代码美化</button>
                    <button id="codeTypeHTML" class="ui button">HTML代码美化</button>
                    <button id="codeTypeXML" class="ui button">XML代码美化</button>
                    <button id="codeTypeSQL" class="ui button">SQL代码美化</button>
                </div>
            </div>
            <div class="ui segment" id="jfContent">
                <div class="ui form">
                    <div class="field">
                        <label>结果</label>
                        <textarea id="rstCode"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>