<!DOCTYPE HTML>
<html lang=zh-CN>

<head>
    <title>时间戳转换</title>
    <meta charset=UTF-8>
    <link rel=stylesheet href="../../static/css/semantic.min.css">
    <script src="../../static/js/jquery.js"></script>
    <script src="js/core.js"></script>
    <script src="js/timestamp.js"></script>
</head>

<body>
    <h1 class="ui center aligned header"></h1>
    <h1 class="ui center aligned header">时间戳转换</h1>
    <h4 class="ui center aligned header">源自：
        <a href="https://github.com/zxlie/FeHelper" target="_blank">https://github.com/zxlie/FeHelper</a>
    </h4>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui form">
                    <h4 class="ui dividing header">Unix时间戳定义</h4>
                    <div class="inline fields">
                        <div class="three wide field">
                            现在的当地时间为：
                        </div>
                        <div class="four wide field">
                            <input id="txtNowDate" type="text" disabled />
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="three wide field">
                            现在的Unix时间戳：
                        </div>
                        <div class="four wide field">
                            <input id="txtNow" type="text" disabled />
                        </div>
                    </div>
                    <h4 class="ui dividing header">【Unix时间戳】 → 【当地时间】</h4>
                    <div class=" fields">
                        <div class="four wide field">
                            <input id="txtSrcStamp" type="text" placeholder="例如：1507722100" />
                        </div>
                        <div class="four one field">
                            <button id="btnStampToLocale" class="ui primary button">
                                转换
                            </button>
                        </div>
                        <div class="four wide field">
                            <input id="txtDesDate" type="text" disabled />
                        </div>
                    </div>
                    <h4 class="ui dividing header">【当地时间】 → 【Unix时间戳】</h4>
                    <div class=" fields">
                        <div class="four wide field">
                            <input id="txtLocale" type="text" placeholder="例如：2017-10-11 19:42:00" />
                        </div>
                        <div class="four one field">
                            <button id="btnLocaleToStamp" class="ui primary button">
                                转换
                            </button>
                        </div>
                        <div class="four wide field">
                            <input id="txtDesStamp" type="text" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>