<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>进制转换</title>
    <link rel="stylesheet" href="../../static/css/element-plus.css" />
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/element-plus.js"></script>
  </head>
  <body>
    <div id="app">
      <el-form :model="form" size="large" label-width="120px">
        <el-from-item>
          <el-radio-group v-model="form.radixRadio1">
            <el-radio v-for="item in radixRadioGroupList" :key="item" :label="item">{{item}}</el-radio>
          </el-radio-group>
          <el-select v-model="form.radixSelect1">
            <el-option v-for="item in 35" :key="item" :label="item+1" :value="item+1" />
          </el-select>
        </el-from-item>
        <el-form-item label="原始数字">
          <el-input @change="trans" v-model="form.value1" />
        </el-form-item>
        <!-- -- -->
        <el-from-item>
          <el-radio-group v-model="form.radixRadio2">
            <el-radio v-for="item in radixRadioGroupList" :key="item" :label="item">{{item}}</el-radio>
          </el-radio-group>
          <el-select v-model="form.radixSelect2">
            <el-option v-for="item in 35" :key="item" :label="item+1" :value="item+1" />
          </el-select>
        </el-from-item>
        <el-form-item label="结果">
          <el-input v-model="form.value2" />
        </el-form-item>
      </el-form>

      <el-button></el-button>
    </div>

    <script>
      let radixConvert = (num, fromRadix, toRadix) => parseInt(num, fromRadix).toString(toRadix)
      const { createApp } = Vue

      app = createApp({
        data() {
          return {
            form: {
              radixRadio1: 0,
              radixSelect1: 0,
              value1: '',
              radixRadio2: 0,
              radixSelect2: 0,
              value2: '',
            },
            radixRadioGroupList: [2, 10, 16],
          }
        },
        methods: {
          trans(num, fromRadix, toRadix) {
            // parseInt(num, fromRadix).toString(toRadix)
            // debugger
            this.form.value2 = radixConvert(this.form.value1, this.form.radixRadio1, this.form.radixRadio2)
          },
        },
      })
        .use(ElementPlus)
        .mount('#app')
    </script>
  </body>
</html>
