<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>进制转换</title>
    <link rel="stylesheet" href="../../static/css/element-plus.css" />
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/element-plus.js"></script>
    <script src="../../static/js/element-plus-icons-vue.js"></script>
    <style>
      #app {
        width: 400px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <el-row>
        <el-col
          ><el-radio-group v-model="radixRadio1">
            <el-radio v-for="item in radixRadioGroupList" :key="item" :label="item">{{item}}</el-radio>
          </el-radio-group></el-col
        >
      </el-row>
      <el-row>
        <el-col :span="4"
          ><el-select v-model="radixSelect1" clearable> <el-option v-for="item in 35" :key="item" :label="item+1" :value="item+1" /> </el-select
        ></el-col>
        <el-col :span="20">
          <el-input v-model="value1" />
        </el-col>
      </el-row>
      <el-row>
        <el-col style="margin: 16px 0; text-align: center">
          <el-button @click="value1Change" size="large" type="primary" :icon="Bottom" circle></el-button>
          <el-button @click="value2Change" size="large" type="info" :icon="Top" circle></el-button>
          <Edit />
        </el-col>
      </el-row>
      <el-row>
        <el-col
          ><el-radio-group v-model="radixRadio2">
            <el-radio v-for="item in radixRadioGroupList" :key="item" :label="item">{{item}}</el-radio>
          </el-radio-group></el-col
        >
      </el-row>
      <el-row>
        <el-col :span="4"
          ><el-select v-model="radixSelect2" clearable> <el-option v-for="item in 35" :key="item" :label="item+1" :value="item+1" /> </el-select
        ></el-col>
        <el-col :span="20">
          <el-input v-model="value2" />
        </el-col>
      </el-row>
    </div>
    <script src="./index.js"></script>
    <script></script>
  </body>
</html>
